#classview-container {
   display: flex;
   height: 80vh;
}

#classview-container .classview-sidebar {
   flex-basis: 25%;
   max-width: 300px;
   overflow: auto;
   background-color: white;

}

#classview-container .classview-sidebar input[name='search'] {
   width: 90%;
   margin: 10px auto;
}

#classview-container .classview-info {
   flex: 90%;
   overflow: auto;
   background-color: transparent;
}

#classview-container .classview-info div.toolbar {
   margin-bottom: 10px;
}
#classview-container .classview-info button {
   background: white;
   border: 1px solid black;
   border-radius: 5px;
   cursor: pointer;
}

#classview-container .classview-info table.tab_cadre_fixe {
   max-width: 100%;
}

#themedesigner-results {
   background: white;
   max-height: 200px;
   overflow: auto;
   width: 80%;
   margin: auto;
}